# Xcode
build/
DerivedData/
.derivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.moved-aside
*~.nib
*.swp
Profile/
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Logs / local
*.log
LanguageSwitcher-launch.log

